<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523083153265-3vdivkhfjh598c0hba3pcn4fovnqnq77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523083153265-3vdivkhfjh598c0hba3pcn4fovnqnq77</string>
	<key>API_KEY</key>
	<string>AIzaSyDWV_AoABA-phIhO0tiodcUv7e73GETPfY</string>
	<key>GCM_SENDER_ID</key>
	<string>523083153265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-40734</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-40734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523083153265:ios:a523af9615f910e96480d0</string>
</dict>
</plist>